<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{booksManagerBean.list}" var="book">
            <h:column>
                <f:facet name="header">
                    Title
                </f:facet>
                
                #{book.title}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Author
                </f:facet>
                <ui:repeat value="#{book.authors}" var="author">
                    <h:outputText value="#{author.name}" />
                </ui:repeat>
                
            </h:column>
            <h:column>
                <f:facet name="header">
                    Type
                </f:facet>
                #{book.type}
            </h:column>
            <h:column>
                <f:facet name="header">
                    Release Date
                </f:facet>
                #{book.releaseDate}
            </h:column>
                
        </h:dataTable>
        
        <h:form>
            <h:inputText value="#{booksManagerBean.title}">Title</h:inputText>
            <h:inputText value="#{booksManagerBean.authors}">Author</h:inputText>
            <h:inputText value="#{booksManagerBean.releaseDate}">Year</h:inputText>
            <h:commandButton action="#{booksManagerBean.save}" value="Save"/>
            
        </h:form>
        
        Registrate new user:
        <h:form>
            Name: <h:inputText value="#{userController.name}"></h:inputText>
            Surname: <h:inputText value="#{userController.surname}"></h:inputText>
            <h:commandButton action="#{userController.save}" value="Add"></h:commandButton>
            
        </h:form>
        
        Rent a book
        <h:form>
            User: <h:selectOneListbox value="#{rentController.user}">
                
                <f:selectItems value="#{userController.list}" var="user" 
                               itemLabel="#{user.surname}" itemValue="#{user.id}" />
                    
            </h:selectOneListbox>
            Book: <h:selectOneListbox value="#{rentController.book}">
                
                    
                
                <f:selectItems value="#{booksManagerBean.list}" var="book" 
                               itemLabel="#{book.title}" itemValue="#{book.id}" />
                
                               
                
            </h:selectOneListbox>
            <h:commandButton action="#{rentController.save}" value="Rent"></h:commandButton>
                
            
            
        </h:form>
        
    </h:body>
</html>

